.logo-overlay {
  display: none;
}

div:hover .logo-overlay {
  display: flex;
}

/* CSS to change the color of the required asterisk */
.MuiInputLabel-root .MuiFormLabel-asterisk, .MuiFormLabel-asterisk {
  color: red; /* Apply red color to the required asterisk */
}

.hide-arrows {
  appearance: none; /* General browsers */
  -webkit-appearance: none; /* Chrome, Safari */
  -moz-appearance: textfield; /* Firefox */
}